body {
  padding: 0;
  margin: 0;
  background-color: #d9fbff;
  overflow: hidden;
}

main {
  margin: auto;
  margin-top: 28px;
  display: block;
  width: 82%;
  height: 82%;
}

#pick-color {
}

#cnv {
  /*margin: auto;*/
  /*border: #fbeff5;
  border-style:ridge;
  border-width: 28px;
  border-radius: 12px;*/
}

#draw-place {
  margin: auto;
  width: inherit;
  height: inherit;
  /*overflow: scroll;*/
  overflow:hidden;
  border: #ff80bf dotted;
  border-radius: 12px;
}
