body {
  padding: 0;
  margin: 0;
  background-color: #d9fbff;
}

main {
  margin: auto;
  margin-top: 14px;
  display: block;
  width: 100vmin;
  height: 70vmin;
}

.head-line {
  display: inline-block;
  position: fixed;
  height: 1px;
  padding-bottom: 14px;
  background-color: #ff80bf;
  top: 0;
  width: 100%;
}

#pick-color {
}

#draw-place {
  margin: auto;
  width: inherit;
  height: inherit;
  overflow: scroll;
}
