body {
  padding: 0;
  margin: 0;
  background-color: #d9fbff;
}

main {
  margin: auto;
  margin-top: 14px;
  display: block;
  width: 100vmin;
  height: 70vmin;
}

#pick-color {
}

#draw-place {
  margin: auto;
  width: inherit;
  height: inherit;
  overflow: scroll;
}
