header, main {
  margin: 12px auto;
  width: 64%;
}

header {
  text-align: center;
  min-width: 20.5em;
}

main {
  padding: 0 1em;
  overflow: auto;
}

article {
  text-align: center;
}

#puppy {
  float: none;
  margin: 0 auto;
  width: 16vmax;
  height: 16vmax;
  border-radius: 100%;
  background: url('../img/puppy.gif') center center no-repeat;
  background-color: #4d2144;
  background-size: 90%;
  transition: all 0.3s;
  margin-top: 1vmax;
  margin-bottom: 1vmax;
  padding: 0;
}

#puppy:hover {
  background-image: url('../img/puppy_love.gif');
  background-size: 85%;
  width: 17vmax;
  height: 17vmax;
  transform: translate(0, -0.5vmax);
  margin-bottom: 0;
}

table { table-layout: fixed; }
td {
  vertical-align: middle;
  font-size: 1.5em;
  width: 33%;
}

td nav {
  text-align: center;
}
