header, main {
  margin: 12px auto;
  width: 64%;
}

header {
  min-width: 20.5em;
}

main {
  border: #ff80bf dotted;
  border-radius: 12px;
  padding: 0px;
  height: auto;
  overflow: auto;
}

main article {
  width: 33%;
  display: inline-block;
}

main article p {
  line-height: 1.5em;
  margin: auto;
  padding: 0.5em 0 0 1em;
}

article.description {
  float: left;
}

article.motd {
  float: right;
}

main nav {
  display: inline-block;
  width: 33%;
  text-align: center;
}

#puppy {
  float: none;
  margin: 0 auto;
  width: 16vmax;
  height: 16vmax;
  border-radius: 100%;
  background: url('../img/puppy.gif') center center no-repeat;
  background-color: #4d2144;
  background-size: 90%;
  transition: all 0.3s;
  margin-top: 1vmax;
  margin-bottom: 1vmax;
  padding: 0;
}

#puppy:hover {
  background-image: url('../img/puppy_love.gif');
  background-size: 85%;
  width: 17vmax;
  height: 17vmax;
  transform: translate(0, -0.5vmax);
  margin-bottom: 0;
}
